* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgrey;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.container::after {
  content: "";
  position: absolute;
  inset: 0;
  transform: skewY(10deg);
  background: linear-gradient(to right, #b92b27, #1565c0);
  z-index: -1;
  box-shadow: 0px 0px 10px black;
}

.shoe {
  width: 70%;
  height: 65%;
  padding: 2%;
  margin: auto;
  margin-top: 7.5%;
  box-shadow: 0px 0px 10px black;
  background: linear-gradient(to right, #8a2387, #e94057, #f27121);
  position: relative;
}

.des {
  max-width: 40%;
  color: white;
}

.des > h1 {
  font-size: xx-large;
  margin-bottom: 30px;
}

.des > p {
  font-size: large;
  margin-bottom: 50px;
  line-height: 20px;
}

.shoe-1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 150px;
  transition: all 0.3s ease-in-out;
}

.shoe-1:hover {
  top: -15px;
  right: -15px;
  width: 400px;
  height: 300px;
}
